//pkgs.dev.azure.com/Vizientinc/_packaging/Vizient/npm/registry/:username=${AZURE_ARTIFACTS_NPM_USERNAME}
//pkgs.dev.azure.com/Vizientinc/_packaging/Vizient/npm/registry/:_password=${AZURE_ARTIFACTS_NPM_PASSWORD}
//pkgs.dev.azure.com/Vizientinc/_packaging/Vizient/npm/:username=${AZURE_ARTIFACTS_NPM_USERNAME}
//pkgs.dev.azure.com/Vizientinc/_packaging/Vizient/npm/:_password=${AZURE_ARTIFACTS_NPM_PASSWORD}
registry=https://registry.npmjs.org/
